@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: #1a1a1a;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 2px;
}
